USE [master]
GO
/****** Object:  Database [Factura_Venta]    Script Date: 30/01/2026 17:34:12 ******/
CREATE DATABASE [Factura_Venta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Factura_Venta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\Factura_Venta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Factura_Venta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\Factura_Venta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Factura_Venta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Factura_Venta]
GO
/****** Object:  User [admin]    Script Date: 30/01/2026 17:34:12 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 30/01/2026 17:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[cod_cli] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [char](10) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[cod_cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Factura]    Script Date: 30/01/2026 17:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Factura](
	[cod_det_fac] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[PorcentajeIVA] [int] NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]),
	[cod_factura] [int] NOT NULL,
	[cod_producto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_det_fac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 30/01/2026 17:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[cod_fac] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura]  AS ('FAC-'+right('0000'+CONVERT([varchar](4),[cod_fac]),(4))),
	[Fecha] [datetime] NOT NULL,
	[BaseIVA0] [decimal](10, 2) NOT NULL,
	[BaseIVA12] [decimal](10, 2) NOT NULL,
	[IVA] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_fac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 30/01/2026 17:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametro](
	[cod_parametro] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [char](5) NULL,
	[descripcion] [varchar](50) NULL,
	[valor] [varchar](50) NULL,
 CONSTRAINT [PK_Parametro] PRIMARY KEY CLUSTERED 
(
	[cod_parametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 30/01/2026 17:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[cod_pro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[precio] [float] NULL,
	[stock] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[cod_pro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [BaseIVA0]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [BaseIVA12]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Factura1] FOREIGN KEY([cod_factura])
REFERENCES [dbo].[Factura] ([cod_fac])
GO
ALTER TABLE [dbo].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Factura1]
GO
ALTER TABLE [dbo].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Producto] FOREIGN KEY([cod_producto])
REFERENCES [dbo].[Producto] ([cod_pro])
GO
ALTER TABLE [dbo].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Producto]
GO
/****** Object:  StoredProcedure [dbo].[CalcularFactura]    Script Date: 30/01/2026 17:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalcularFactura]
    @FacturaId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @Base0 DECIMAL(10,2),
        @Base12 DECIMAL(10,2),
        @IVA DECIMAL(10,2),
        @Total DECIMAL(10,2);

    -- Sumar base imponible 0%
    SELECT @Base0 = ISNULL(SUM(Subtotal),0)
    FROM FacturaDetalle
    WHERE FacturaId = @FacturaId AND PorcentajeIVA = 0;

    -- Sumar base imponible 12%
    SELECT @Base12 = ISNULL(SUM(Subtotal),0)
    FROM FacturaDetalle
    WHERE FacturaId = @FacturaId AND PorcentajeIVA = 12;

    -- IVA del 12%
    SET @IVA = @Base12 * 0.12;

    -- Total final
    SET @Total = @Base0 + @Base12 + @IVA;

    -- Actualizar la factura
    UPDATE Factura
    SET BaseIVA0 = @Base0,
        BaseIVA12 = @Base12,
        IVA = @IVA,
        Total = @Total
    WHERE cod_fac = @FacturaId;
END;

GO
/****** Object:  StoredProcedure [dbo].[visualizar_factura]    Script Date: 30/01/2026 17:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[visualizar_factura]
@numFactura varchar(8)=''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM Factura fa inner join Detalle_Factura df on fa.cod_fac=df.cod_factura
	           inner join Producto pro on pro.cod_pro=df.cod_producto
	where (@numFactura is null or @numFactura=' ' or fa.NumeroFactura= @numFactura)

	--select * from Factura where cod_fac=9
	-- exec [visualizar_factura]  ''
END
GO
USE [master]
GO
